* {
	box-sizing: border-box;
  }
  
@font-face{
	font-family: 'Lato-Bold'; 
  src: url("./assets/fonts/Lato/Lato-Bold.ttf"); 
  
}

@font-face{
	font-family: 'Lato-Regular'; 
  src: url("./assets/fonts/Lato/Lato-Regular.ttf"); 
  
}

@font-face {
	font-family: 'Lato-Light'; 
  src: url("./assets/fonts/Lato/Lato-Light.ttf"); 
  
}

@font-face {
	font-family: 'Lato-Black'; 
  src: url("./assets/fonts/Lato/Lato-Black.ttf"); 
  
}

html{
	scroll-behavior: smooth;
}

.wrapper{
	width: 1020px;
	margin: 0px auto;
}
/* header styles */

.header {
	height: 90px;
	background-color:#2D303A;
	display: flex;
	justify-content: space-between;   
	align-items: center;
	padding: 0 40px;
  	border-bottom: 6px solid #323746;
	box-sizing: content-box;
	position: sticky;
	top: 0;
	z-index: 5;	
}

/*navbar*/  

.navbar {
	margin-top: 8px;
}

.navbar ul{
	list-style: disc;
	display: flex;    
}

.navbar-item {
	margin-left: 28.4px;
	color: #494e62; 
}

.navbar-item:first-child {
	margin-left: 0;
	list-style: none;
}

.navbar-item a {
	font-size: 12px;
	font-family: Lato-Bold;
	font-weight: 700;
	color: #ffffff;  
	text-align: center;
	text-decoration: none;
	user-select: none;
	
}

.navbar-item a:hover,
.navbar-item a.active {
	color: #f06c64; 
} 

ul.scrolling .navbar-item a.active {
	color: white;
}

ul.scrolling .navbar-item a:hover {
	color: #f06c64;
}

.logo{ 
	font-size: 25px;
	font-family: Lato-Bold;
	font-weight: 700;
	color: #ffffff;    
	text-align: justify left;   
	text-transform: uppercase;        
}

.logo span{
	color: #f06c64;
}


/* slider styles */


 .sliders {
	 display: flex;
	 justify-content: space-between;
	 height: 600px;	 
	 position: relative;
	 overflow: hidden;
	 
 }
.slide-container{        
	height: 600px;
	width: 860px;		
	background-size: cover;    	
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.sliders.color-red {
	background-color:#F06C64;
	animation: 0.3s ease-in-out;
	
}

.sliders.color-blue {
	background-color:#648BF0;
	animation: 0.3s ease-in-out;
	
}

.slide {
   height: 599px;
   width: 860px;	
   position: relative;
   overflow: hidden;
   display: none;
   animation: 0.7s ease-in-out;
  
}

.slide-active,
.slide-next{
   display: block;
  
}

.slide-next{
	
    position: absolute;
    width: 860px;
}

.to-left{
	animation-name: left;
	position: absolute;
	
}

.to-right{
    animation-name: right;
	animation-direction: reverse;
	position: absolute;
	
}

.from-left{
    animation-name: left;
	animation-direction: reverse;
	position: absolute;
}

.from-right{
	animation-name: right;
	position: absolute;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

/*iphones*/


.iphone-ver{
	position: relative;	
	visibility: visible;  
	background-repeat: repeat-x repeat-y;
	width: 215px;
	height: 458px;
	top: 54px;
    left: 33px;
	z-index: 1; 
} 

.body_ver{
	position: absolute;	
	z-index: 3;
	transform: scale(1.01);
}

.shadow_ver {
	position: absolute;
	z-index: 1;
}

.backgroun_ver {
	position: absolute;
	z-index: 2;
	background: url(./assets/images/iphones/backver.png);
	width: 89%;
    height: 74%;
    top: 13%;
    left: 6%;
}



.iphone-hor{   
	position: absolute;	
	visibility: visible;  
	transform: rotate(90);	
	top: 54px;
    left: 468px;
}
.shadow_gor{
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) scaley(-1) ;
}

.body_gor{
	position: absolute;
	z-index: 3;
	transform: rotate(90deg) scale(1.01);
}

.backgroun_gor{
	position: absolute;
	z-index: 2;	
	background: url(./assets/images/iphones/backgor.png);	
	width: 338px;
    height: 189px;
    top: 133px;
    left: -63px; 
}



/*bluscreens*/

.slider-blu{
	display: flex;	
	justify-content: center;
}
.blu1 {
	transform: scale(0.7);
	opacity: 0.5;
}

.blu2 {
	left: 0%;
	filter: hue-rotate(25deg) saturate(181%) contrast(0.95);
}

.blu3 {
	left: -4%;
	transform: scale(0.7);
	opacity: 0.5;
}

/*chevrons*/
.chev{
	margin-top: 281px;
	cursor: pointer;
}

.chev:hover{
	opacity: 0.6 ;
}

.chev-left{
	margin-left: 40px;	
	
}

.chev-right{
	margin-right: 40px;	
}

.chev-two{
	fill:rgb(93, 98, 212);
}

/*buttons*/
.iphone-button {
	position: absolute;	
	border-radius: 50%;		
	z-index: 4;
	cursor: pointer;
}



.button-ver {
	top: 88%;
	left: 41%;
	width: 17%;
	height: 8.5%;
}
.button-gor {	
	width: 37px;
    height: 37px;
    top: 209px;
    left: -110px;
}

/*sdreensoff*/
 
.iphone-screen {
	position: absolute;		
	
	z-index: 4;
	cursor: pointer;
	
} 
.screen_ver {
	width: 188px;
    height: 333px;
    top: 63px;
    left: 13px;
}

.screen_gor {
	height: 189px;
    width: 334px;
    top: 133px;
    left: -63px;
}

.background-black {
 background-color: black;
}
/* services styles */

.services{	
	height: 500px;
	border-bottom: 6px solid #fff;
    padding: 62px 40px;
    background-color: #f2f2f2;
}

.services-header{    
	font-size: 30px;
	font-family: Lato-Bold;
	font-weight: 900;
	color: #666d89;
	text-align: justify Left;     
}

.services-text{
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-family: Lato-Light;
  text-align: justify;
  margin: 21px 0 47px 0;
}

.services-items{
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
}


.services-items{
  display: flex;
  width: 940px;
  height: 210px; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.services-item {
  display: flex;
}

.services-item-icon div {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid #666d89;
  display: flex;
  justify-content: center;
  align-items: center;
}


.services-item-text {
  margin-left: 20px;
  width: 220px;
}

.services-item-text h5 {
  font-family: Lato-Regular;
  font-size: 12px;
  margin-top: 10px;
  overflow-wrap: normal;
  line-height: 20px;
  text-align: justify;
  
}




 /* Portfolio  */

.portfolio {
	height: 869px;
	background-color:#2D303A;
	border-bottom: 6px solid #323746;	
	box-sizing: content-box;
	padding: 63px 39px;
	box-sizing: border-box;	
}

.portfolio-logo{
	font-family: Lato-Black;
	font-size: 30px;
	color: #666d89;
	text-align: justify left;

}

.portfolio-text{
	font-family: Lato-Light;
	font-size: 18px;
	color: #767e9e;
	text-align: justify left;
	margin-top: 29px;
	box-sizing: border-box;
}

.portfolio-navbar{
	margin-top: 17px;
}

.portfolio-navbar ul{
	display: flex;
	justify-content: space-between;   
	align-items: center;
	width: 291px;
}

.portfolio-navbar-item a{
	font-family: Lato-Regular;
	font-size: 12px;
	color: #767e9e;
	text-align: center;
	border: 1px solid #767e9e;
	padding: 3px 7px;
	border-radius: 5px;
	text-decoration: none;	
	cursor: pointer;
	user-select: none;

}

.portfolio-navbar-item a:hover,
.portfolio-navbar-item a.active {
	color: #ffffff;
	border-color: #ffffff;
}

.portfolio-images {
	margin-top: 22px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
	width: 941px;	
	height: 601px;
}

.portfolio-images img {
	width: 221px;
	height: 187px;
	margin-bottom: 20px;
}

.portfolio-images img.active {
	border: solid 5px #F06C64;
}

 /* About us */

.about-us{	
	height: 734px;
	border-bottom: 7px solid #ffffff;
	background-color: #f2f2f2;
	padding: 64px 40px 0 40px;
    box-sizing: border-box;		
}

.about-us-logo{
	font-family: Lato-Black;
	font-size: 30px;
	color: #666d89;
	text-align: justify;
}

.about-us-text{
	font-family: Lato-Light;
	font-size: 18px;
	color: #767e9e;
	text-align: justify;
	margin-top: 29px;
	margin-top: 23px;
    line-height: 1.56;
}

.photos {
	margin-top: 46px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.photo-item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	width: 300px;
	height: 442px;
}

.photo h2{
	font-family: Lato-Black;
	font-size: 18px;
	color: #666d89;
	margin-top: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.photo h5{
	font-family: Lato-Regular;
	font-size: 12px;	
	color: #767e9e;
	text-align: justify;
	margin-top: 11px;
	line-height: 1.79;
	word-spacing: -1px;
 
}

.photo-icon{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 152px;
	

}
.photo-icon div{
	width: 31px;
    height: 31px;
    border-radius: 30px;
	border: 1px solid #666d89;
	display: flex;
  	justify-content: center;
	align-items: center;
	cursor: pointer;
	
}

.photo-icon div:hover{
	opacity: 0.6;
}


/* get a quote */

.get-a-quote{
    height: 654px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;   
    padding: 63px 39px;
    box-sizing: border-box;
}

.get-a-quote h1{
    font-family: 'Lato-Black';
    font-size: 30px;
    color: #f0d8d9;
}

.get-a-quote h3{
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #f0d8d9;
    margin-top: 22px;
    text-align: justify;
    line-height: 29px;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.contact-info-form{
    width: 620px;
}

.contact-info-form form input,
.contact-info-form form textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding-left: 14px;
    background-color: #d6564f;
    color: white;
    font-size: 12px;
    font-family: 'Lato-Regular';
}


.contact-info-form form input.invalid,
.contact-info-form form textarea.invalid {
    box-shadow: 0 0 5px 1px rgb(216, 3, 3);
}
  
.contact-info-form form input:focus:invalid,
.contact-info-form form textarea:focus:invalid {
    outline: none;
}

.contact-info-form form input::placeholder,
.contact-info-form form textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: 'Lato-Regular';
}

.contact-info-form form input {
    height: 38px;
    margin-bottom: 16px;
}

.contact-info-form form textarea {
    height: 200px;
    margin-bottom: 16px;
    padding-top: 10px;
}

.contact-info-form form input[type="submit"] {
    cursor: pointer;
}
/*modal*/

.modal-backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0, 0.4);
	justify-content: center;
	align-items: center;
}

.modal {
	width: 320px;
	height: 180px;
	background-color: rgb(240, 108, 100);
	border-radius: 5px;
	border: 1px solid white;
	box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}


.modal h4{
	font-family: 'Lato-Light';
    font-size: 18px;
    color: #f0d8d9;
}

.modal-submit{
	width: 30%;
    border: none;
    border-radius: 4px;
	padding: 14px;
	text-align: center;
    background-color: #d6564f;
    color: white;
    font-size: 12px;
	font-family: 'Lato-Regular';
	cursor: pointer;
}

.modal-message{
	overflow: hidden;
	font-family: 'Lato-Light';
    font-size: 16px;
    color: #f0d8d9;
}

/*contact-info*/

.contact-info-text{
    text-align: left;
    width: 300px;

}

.contact-info-text h2{
    font-family: 'Lato-Black';
    font-size: 18px;
    color: #f0d8d9;
}

.contact-info-text h5{
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #f0d8d9;
    margin-top: 11px;
    line-height: 21.5px;
    text-align: justify;
    word-spacing: -2px;  
}  

.icon-ref{
    margin-top: 21px;
}

.icon-ref-row {
   display: flex; 
    
}
  
.icon-ref-row div:first-child {
    width: 22px;
}

  
.icon-ref-row:first-child div:first-child img{
    margin-top: 5.5px;
    margin-left: 2px;
}


  
.icon-ref-row:nth-child(2) div:first-child img{
    margin-top: 4px;
}

.icon-ref-row:last-child div:first-child img{
    margin-top: 8px;
}

.icon-ref-row div:last-child {
    font-family: 'Lato-Regular';
    font-size: 12px;
    color: #f0d8d9;
    line-height: 22px;
}

a.icon-ref-row {
    text-decoration: none;
}

a.icon-ref-row:visited {
    text-decoration: none;
}

/* footer */

.footer{
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 0px 42px;
	margin: 0px auto;    
}

.footer-copyright{
    font-size: 12px;
    letter-spacing: 1px;
    color: #666d89;
    
}

.footer-copyright p{
    font-family: 'Lato-Regular';
    font-size: 12px;
    
}

.footer-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.footer-icon div{
	width: 30px;
    height: 30px;
    border-radius: 30px;
	border: 1px solid #666d89;
	display: flex;
  	justify-content: center;
	align-items: center;
	cursor: pointer;
	
}

.footer-icon div:hover{
	opacity: 0.6;
}
